<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyrt.cnp"
    android:versionCode="17"
    android:versionName="2.2.2"> 

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:name="net.oschina.app.AppContext"
        android:theme="@style/Theme.Edu.Sherlock">

        <!--<receiver android:name=".base.account.receiver.AppInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>-->

<!-- android:theme="@style/MyFullscreenTheme" -->
        <activity
            android:screenOrientation="portrait"
            
            android:name=".FullscreenActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".account.LoginActivity"
            android:label="@string/login_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolListActivity"

            android:label="@string/myschool_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolIndexActivity"

            android:label="@string/myschool_title">

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".account.manager.UserMainActivity"
            android:label="@string/usermain_title" />
        <activity
            android:screenOrientation="portrait"
            android:name=".account.manager.UserInfoActivity"
            android:label="@string/userinfo_title"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:screenOrientation="portrait"
            android:name=".account.manager.UserPasswordActivity"
            android:label="@string/userpassword_title"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:screenOrientation="portrait"
            android:name=".account.manager.UserFaceActivity"
            android:label="@string/userface_title" />
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SendwordActivity"
            android:label="@string/schoolword"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolNoticeActivity"
            android:label="@string/schoolnotice_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolNoticeInfoActivity"
            android:label="@string/schoolnotice_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.StarTeacherInfoActivity"
            android:label="@string/starteacher_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolRecipeActivity"

            android:label="@string/schoolrecipe_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.StarTeacherActivity"
            android:label="@string/starteacher_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.StarBabayActivity"
            android:label="@string/starbabay"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.ClassRoomListActivity"
            android:label="@string/classroomsetting"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolPhotoActivity"
            android:label="@string/schoolphoto"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolRepiceInfoActivity"
            android:label="@string/schoolrecipe_title"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolInfoActivity"
            android:label="@string/schoolinfo"></activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".classroom.ui.ClassroomIndexActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="@string/classroomname"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".classroom.ui.ClassroomAlbumActivity"
            android:label="@string/classroomphoto"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".classroom.ui.ClassroomphotolistActivity"
            android:label="@string/classroomphoto"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".classroom.ui.ClassroomBabayActivity"
            android:label="@string/classroombabay"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".classroom.ui.ClassroomRecipeInfoActivity"
            android:label="@string/dayrecipe"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.BabayIndexActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.BabayWordActivity"
            android:label="@string/babayword">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.DynamicCommentActivity"
            android:label="@string/setzfcommit">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".classroom.ui.ClassroomphotoinfoActivity"
            android:label="@string/classroomphotoinfo">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.CommentListActivity"
            android:label="@string/commitlist">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="base.view.ImageShowpop"
            android:label="@string/commitlist">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.HomeInteractiveActivity"
            android:label="@string/homeinter">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.DynamicNewActivity"
            android:label="@string/adddynamic">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.MyZFListActivity"
            android:label="@string/setzfcommit">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.MyItListActivity"
            android:label="@string/itmylist">

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.MycommentListActivity"
            android:label="@string/commentdy">

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.MyAddAblumActivity"
            android:label="@string/commentdy">

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolSearchActivity"
            android:label="@string/school_search"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolSearchResultActivity"
            android:label="@string/school_search_result"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SchoolCityListActivity"
            android:label="@string/school_city_list"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.MyForwardListActivity"
            android:label="@string/setzfcommit"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.AddPhotoDynamicActivity"
            android:label="@string/adddynamic"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.SendDynamicActivity"
            android:windowSoftInputMode="stateVisible"
            android:label="@string/adddynamic"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.AboutFriendActivity"
            android:label="@string/about_friend"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.ChangeAlbumActivity"
            android:label="@string/album_list"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.AddAlbumActivity"
            android:windowSoftInputMode="stateVisible"
            android:label="@string/album_list"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.DynamicPhotoListActivity"
            android:label="@string/album_list"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".dynamic.ui.DynamicPhotoInfoActivity"
            android:label="@string/album_list"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".base.account.ui.AlbumBrowserActivity"
            android:label="@string/phone_album"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".account.manager.WelcomeActivity"
            android:label="@string/login_title"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".school.ui.SendNoticeActivity"
            android:windowSoftInputMode="stateVisible"/>

        <service
            android:name=".account.service.MyService"
            android:exported="false" />

        <service
            android:name=".base.service.MyService"
            android:exported="false" />
        
        <!-- account -->
         <service
            android:name=".account.AccountAuthenticatorService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        
         <!-- dynamic -->
         <service
                android:name="com.octo.android.robospice.JacksonSpringAndroidSpiceService"
                android:exported="false" />
            <service
                android:name="com.octo.android.robospice.spicelist.BitmapSpiceService"
                android:exported="false" />
            
            <!-- school -->
<service
            android:name="com.octo.android.robospice.JacksonSpringAndroidSpiceService"
            android:exported="false" />
        <service
            android:name="com.octo.android.robospice.spicelist.BitmapSpiceService"
            android:exported="false" />        
    </application>

</manifest>
